* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 2px;
}
body{
  background-color: #f5f8fd;
}
a{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}
input{
  outline: none;
  border: 0px;
  background-color: inherit;
  caret-color:#a1dd9d;
}
li{
  list-style: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}